# Python
__pycache__/
*.py[cod]
venv/

# C#
bin/
obj/

# Environment
.env
*.vsdx

# System
.DS_Store
.idea/

# Logs
*.log

# New entries from the code block
.vscode/
data/
.visio/
config.vault
node_modules/
